<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sign In</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&amp;family=Poppins:wght@300;400;500;700&amp;family=Roboto:ital,wght@0,300;0,500;1,400&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css">
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
  </head>
  <body>
    <div class="wrappper">
      <header class="header">
        <nav class="header-nav"> 
          <div class="container header-nav-container"><a class="header-logo" href="/"><img src="./images/Logo.png" alt="Logo"><span class="header-logo-item">Logo</span></a>
            <ul class="header-menu">
              <li><a class="header-menu-item" href="/">About</a></li>
              <li><a class="header-menu-item" href="/">Home</a></li>
            </ul>
            <div class="header-button"><a class="header-button-login" href="./views/pages/login.html">Login </a><a class="header-button-register" href="./views/pages/register.html">Register</a></div>
          </div>
        </nav>
      </header>
      <div class="modal">
        <div class="modal-content">
          <h3>Sign In </h3>
          <p>For security, please sign in to access your information</p>
          <form class="form" action="#" method="method">
            <div class="form-group">
              <label for="email">Email</label>
              <input class="form-control" type="email" name="email" placeholder="Email" required>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input class="form-control" type="password" name="password" placeholder="Password" required>
            </div>
            <div class="other"><a class="other-create" href="/">Create account</a>
              <div class="forgot"> <i class="other-forgot fa-solid fa-lock"></i><a class="other-forgot" href="/">Forgot password?</a></div>
            </div>
            <button class="button" type="submit" value="submit">Sign In</button>
          </form>
        </div>
      </div>
    </div>
    <script src="./scripts/slider.js">   </script>
  </body>
</html>