header.header
  nav.header-nav 
    .container.header-nav-container
      a.header-logo(href='/')
        img(src="./images/Logo.png", alt="Logo")
        span Logo
      ul.header-nav-link
        li About
        li Home
      .header-nav-button
        a Login 
        a Register
