.swiper.mySwiper
  .swiper-wrapper
    .swiper-slide 
      img(src='https://haycafe.vn/wp-content/uploads/2022/08/Hinh-nen-may-tinh-4K-toi-gian.jpg' alt='')
    .swiper-slide 
      img(src="https://photo.techrum.vn/images/2019/03/30/44MlED.jpg", alt="")
    .swiper-slide 
      img(src="https://vietnamitx.com/attachments/top-hinh-nen-dong-wallpaper-engine-desktop-tuyet-dep-download-chon-loc-2021-jpg.2215/", alt="")
    .swiper-slide 
      img(src="https://haycafe.vn/wp-content/uploads/2022/08/Hinh-nen-may-tinh-4K-tuyet-dep.jpg", alt="")
    .swiper-slide 
      img(src="https://viettelinternet24h.com/wp-content/uploads/2022/08/img_630afc9011c82.jpg", alt="")
  .swiper-button-next
  .swiper-button-prev
  .swiper-pagination