block mixins 
    include ../blocks/mixins.pug
block vars 
    -title = 'Site'
    -bodyClass = ''

doctype html
html(lang="en")
  head
    title=title 
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&family=Poppins:wght@300;400;500;700&family=Roboto:ital,wght@0,300;0,500;1,400&display=swap' rel='stylesheet')
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css")
    link(rel="stylesheet", href="./css/style.css")
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css')
    script(src='https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js')
  body(class = bodyClass)
    .wrappper
        block header
          include ../blocks/header
        block slider 
          include ../blocks/slider
        block container 
        block footer
    block layer 
    include ../blocks/scripts.pug 
    script(src="./scripts/slider.js")    
  

