block mixins 
    include ../blocks/mixins.pug
block vars 
    -title = 'Site'
    -bodyClass = ''

doctype html
html(lang="en")
  head
    title=title 
    
  body(class = bodyClass)
    .wrappper
        block header
            include ../blocks/header
        block container 
        block footer
    block layer 
    include ../blocks/scripts.pug    

