@import "../components/buttons";
.header{
    min-height: 7rem;
    background-image: linear-gradient(to right bottom, rgba(253, 214, 205, 0.986), rgb(193, 135, 171));
    &-nav{
        &-container{
            display: flex;
            justify-content: space-between;
        }
    }
    &-logo{
        font-size: 3rem;
        font-weight: bold;
        color: white;
        display: flex;
        margin: 1rem;
        img{
            height: 5rem;
            width: 5rem;
        }
        &-item{
            padding: 1rem;
        }
    }
    &-menu{
        display: flex;
        font-weight: bold;
        align-items: center;
        &-item{
            color: white;
            text-transform: uppercase;
            display: inline-block;
            padding-bottom: 0.8rem;
            margin-right: 5rem;
            border-bottom: 3px transparent;
            transition: all 0.2s linear;
        }
        &-item:hover{
            border-bottom: 3px solid rgb(185, 104, 192);
        }
    }
    &-button{
        margin-top: 10px;
        &-login{
            @include button1(90px, 25px, white);
        }
        &-register{
            color: white;
            @include button1(90px, 25px, rgb(132, 62, 113));
            margin-left: 34px;
        }
    }
}